
body {background-color: black;}
.row_1 {background-color: #33CC66;}
.row_2 {background-color: #00CCFF;}
.row_3 {background-color: #FFFF99;}

#header_bar {
	height:10%;min-height:10%;
	background-color:black;
	color:white;
}
#definition_cell {width:35%;}
#definition {
	margin:10px;
	height:100%;min-height:100%;
	color:white;
	text-align:left;font-size:1.4vh;
}
#site_title {
	height:100%;min-height:100%;
	display:inline;
	color:white;
	font-size:4vh;font-family:'Verdana';
}
#signature_cell {
	width:25%;
}

body{
	overflow: hidden;
}

#main_title_bars {
	display:inline-block;
	width:20%;
	float: left;
}
#main_content {
	display:inline-block;
	width:80%;
	float: left;
}
.main_title_bar {
	height:30%;
	min-height:30%;
	width:100%;
	min-width:100%;
	cursor:hand;
	vertical-align:middle;
	font-size:6vh;
	font-style:bold;
	font-family:"Verdana";
	padding-left:20px;
	padding-top:15px;
}


.content_box {
	height:30%;
	min-height:30%;
	font-size:400%;
	width:100%;
	padding: 5px;
	cursor: pointer;
	animation-name: normal;
	animation-timing-function: ease-out;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	overflow-x: hidden;
	overflow-y: hidden;
}

.content_box.normal-to-max{
	animation: normaltomax;
	animation-timing-function: ease-out;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.content_box.max-to-normal{
	animation: maxtonormal;
	animation-timing-function: ease-out;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.content_box.max-to-shrunk {
    animation: maxtoshrunk;
	animation-timing-function: ease-out;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.content_box.shrunk-to-max {
    animation: shrunktomax;
	animation-timing-function: ease-out;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.content_box.shrunk-to-normal{
	animation: shrunktonormal;
	animation-timing-function: ease-out;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.content_box.normal-to-shrunk{
	animation: normaltoshrunk;
	animation-timing-function: ease-out;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.content_box.expand{
	animation-name: expand;
	animation-timing-function: ease-out;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#main_content.has_expand .content_box.shrunk {
	animation-name: shrunk;
	animation-timing-function: ease-out;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes normal{
	100%{
		min-height: 30%;
		height: 30%;
		max-height: 30%;
	}
}

@keyframes expand{
	100%{
		height: 100%;	
		max-height: 100%;		
		min-height: 100%;
	}
}

@keyframes shrunk{
	100%{
		max-height: 0%;
		min-height: 0%;
		height: 0%;
		padding-top: 0;
		padding-bottom: 0;
	}
}

@keyframes normaltomax{
	0%{
		min-height: 30%;
		height: 30%;
		max-height: 30%;
	}
	100%{
		height: 100%	
		max-height: 100%;		
		min-height: 100%;
	}
}

@keyframes normaltoshrunk{
	0%{
		min-height: 30%;
		height: 30%;
		max-height: 30%;
	}
	100%{
		height: 0%;	
		max-height: 0%;		
		min-height: 0%;
		padding-top: 0;
		padding-bottom: 0;
	}
}

@keyframes maxtonormal{
	0%{
		height: 100%;	
		max-height: 100%;		
		min-height: 100%;
	}
	100%{
		min-height: 30%;
		height: 30%;
		max-height: 30%;
	}
}

@keyframes maxtoshrunk{
	0%{
		height: 100%;	
		max-height: 100%;		
		min-height: 100%;
	}
	100%{
		min-height: 0%;
		height: 0%;
		max-height: 0%;
		padding-top: 0;
		padding-bottom: 0;
	}
}

@keyframes shrunktonormal{
	0%{
		height: 0%;	
		max-height: 0%;		
		min-height: 0%;	
		padding-top: 0;
		padding-bottom: 0;	
	}
	100%{
		min-height: 30%;
		height: 30%;
		max-height: 30%;
	}
}

@keyframes shrunktomax{
	0%{
		height: 0%;	
		max-height: 0%;		
		min-height: 0%;
		padding-top: 0;
		padding-bottom: 0;
	}
	100%{
		min-height: 100%;
		height: 100%;
		max-height: 100%;
	}
}

.content_close{
	display: none;
}
.content_header{
	display: none;
}
.suggest_btn{
	display: none;
	float: none;
}
.suggest_btn_main{
	display: inline-block;
}
.linkbox {
	/* padding-left:2em; */
	display: inline-block;
	overflow-y: hidden;
	margin-bottom:3vh;
	overflow-x: hidden;
}
.linkbox h3{
	display: none;
	font-family:"Verdana";
	font-size:2.5vh;
	margin-top:0px;
}





h2 {font-family:"Verdana";}
.content_close {float:left;}
.content_header {
	margin-left:3em;
	text-decoration:underline;
	font-family:"Verdana";
	padding-bottom:20px;
}
.slide_button {
	font-size:2vh;
	margin-right:1em;
}
.button_icon {font-size:5vh;margin-right:0.1em;margin-left:0.1em;}
.button_icon_small {font-size:4vh;margin-right:0.1em;margin-left:0.1em;}
.nav_bar_header {
	max-width:($('body').width() * 0.4);
	float:left;
	text-shadow: 2px 2px 5px grey;
	margin-right:1em;
	height:100%;
}
.bar_buttons {
	font-size:2vh;
	float:left;
	margin-right:2em;
	margin-bottom:1em;
}
.SuggestIcon {font-size:350%;}
.modalInput {margin-left:20px;}